.dark-gray-bg{
    -fx-background-color: #46474A;
}

.gray-bg{
    -fx-background-color: #636566;
}

.transparent-bg{
    -fx-background-color: transparent;
}

.radius{
    -fx-background-radius: 100px;
}

.light-gray-bg{
    -fx-background-color: #DADADA;
}

.red-bg{
    -fx-background-color: #FF0000;
}

.incoming-bubble{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-padding: 8px 14px;
    -fx-max-width: 300px;
}

.outgoing-bubble{
    -fx-background-color: #50C984;
    -fx-background-radius: 20px;
    -fx-padding: 8px 14px;
    -fx-text-fill: #ffffff;
}

.avatar-image{
    -fx-border-radius: 50%;

}